<a href="https://colab.research.google.com/github/SimranShaikh20/R_language_Assignments/blob/main/Lab_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install r-base -y

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
r-base is already the newest version (4.4.2-1.2204.0).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.

In [ ]:
!R -e "IRkernel::installspec(user = FALSE)"

R version 4.4.2 (2024-10-31) -- "Pile of Leaves"
Copyright (C) 2024 The R Foundation for Statistical Computing
Platform: x86_64-pc-linux-gnu

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it under certain conditions.
Type 'license()' or 'licence()' for distribution details.

  Natural language support but running in an English locale

R is a collaborative project with many contributors.
Type 'contributors()' for more information and
'citation()' on how to cite R or R packages in publications.

Type 'demo()' for some demos, 'help()' for on-line help, or
'help.start()' for an HTML browser interface to help.
Type 'q()' to quit R.

> IRkernel::installspec(user = FALSE)
>
>

In [ ]:
# Take input from the user
num1 <- as.numeric(readline(prompt = "Enter the first number (num1): "))
num2 <- as.numeric(readline(prompt = "Enter the second number (num2): "))

# Display operation choices
print("1] Addition")
print("2] Subtraction")
print("3] Multiplication")
print("4] Division")

# Take the user's choice for the operation
choice <- as.numeric(readline(prompt = "Enter which operation you want to perform: "))

# Perform the chosen arithmetic operation
if (choice == 1) {
  add <- num1 + num2
  print(paste("Addition: ", add))
} else if (choice == 2) {
  subtract <- num1 - num2
  print(paste("Subtraction: ", subtract))
} else if (choice == 3) {
  multiply <- num1 * num2
  print(paste("Multiplication: ", multiply))
} else if (choice == 4) {
    divide <- num1 / num2
    print(paste("Division: ", divide))
} else {
  print("Invalid choice! Please enter a valid operation number (1-4).")
}

Enter the first number (num1): 12
Enter the second number (num2): 9
[1] "1] Addition"
[1] "2] Subtraction"
[1] "3] Multiplication"
[1] "4] Division"
Enter which operation you want to perform: 2
[1] "Subtraction:  3"

In [ ]:

power <- 8^2
logarithm <- log2(256)  # Logarithm base 2
sqrt_val <- sqrt(121)   # Square root
print(paste("Power :",power))
print(paste("Log value for 256:",logarithm))
print(paste("Root value of 121 : ",sqrt_val))

[1] "Power : 64"
[1] "Log value for 256: 8"
[1] "Root value of 121 :  11"

In [ ]:

# Sine, cosine, tangent of 30°, 45°, and 60° (converted to radians)
sine_30 <- sin(pi * 30 / 180)
cosine_30 <- cos(pi * 30 / 180)
tangent_30 <- tan(pi * 30 / 180)

sine_45 <- sin(pi * 45 / 180)
cosine_45 <- cos(pi * 45 / 180)
tangent_45 <- tan(pi * 45 / 180)

sine_60 <- sin(pi * 60 / 180)
cosine_60 <- cos(pi * 60 / 180)
tangent_60 <- tan(pi * 60 / 180)
print("--------------------------------")
print(paste("Sine of 30°:", sine_30))
print(paste("Cosine of 30°:", cosine_30))
print(paste("Tangent of 30°:", tangent_30))
print("--------------------------------")
print(paste("Sine of 45°:", sine_45))
print(paste("Cosine of 45°:", cosine_45))
print(paste("Tangent of 45°:", tangent_45))
print("--------------------------------")
print(paste("Sine of 60°:", sine_60))
print(paste("Cosine of 60°:", cosine_60))
print(paste("Tangent of 60°:", tangent_60))

[1] "--------------------------------"
[1] "Sine of 30°: 0.5"
[1] "Cosine of 30°: 0.866025403784439"
[1] "Tangent of 30°: 0.577350269189626"
[1] "--------------------------------"
[1] "Sine of 45°: 0.707106781186547"
[1] "Cosine of 45°: 0.707106781186548"
[1] "Tangent of 45°: 1"
[1] "--------------------------------"
[1] "Sine of 60°: 0.866025403784439"
[1] "Cosine of 60°: 0.5"
[1] "Tangent of 60°: 1.73205080756888"

In [ ]:
# Variable Asssignents
x<-50
y<-30
print(paste("x+y = ",x+y))
print(paste("x-y = ",x-y))
print(paste("x*y = ",x*y))
print(paste("x/y = ",x/y))
print(paste("x^2 = ",x^2))
print(paste("y^2 = ",y^2))

[1] "x+y =  80"
[1] "x-y =  20"
[1] "x*y =  1500"
[1] "x/y =  1.66666666666667"
[1] "x^2 =  2500"
[1] "y^2 =  900"

In [ ]:
z<-100
print(paste("Expotential Value : ",exp(z)))
print(paste("Square  Value : ",sqrt(z)))

[1] "Expotential Value :  2.68811714181614e+43"
[1] "Square  Value :  10"

In [ ]:
#Check Type of Data
num=10
str="Simran Shaikh"
flag= TRUE
print("--Using Class method-----")
print(class(num))
print(class(str))
print(class(flag))
print("-------------------")
print("--Using typeof method-----")
print(typeof(num))
print(typeof(str))
print(typeof(flag))
print("-------------------")

[1] "--Using Class method-----"
[1] "numeric"
[1] "character"
[1] "logical"
[1] "-------------------"
[1] "--Using typeof method-----"
[1] "double"
[1] "character"
[1] "logical"
[1] "-------------------"

In [1]:
#Math function
print(paste("Absolute value of -15:", abs(-15)))
print(paste("Round 3.567 to 2 decimal places:", round(3.567, 2)))
print(paste("Ceiling of 4.2:", ceiling(4.2)))
print(paste("Floor of 4.8:", floor(4.8)))

[1] "Absolute value of -15: 15"
[1] "Round 3.567 to 2 decimal places: 3.57"
[1] "Ceiling of 4.2: 5"
[1] "Floor of 4.8: 4"

In [2]:
# Statistical Function
nums <- c(10, 20, 30, 40, 50)
print(paste("Mean:", mean(nums)))
print(paste("Median:", median(nums)))
print(paste("Sum:", sum(nums)))
print(paste("Standard deviation:", sd(nums)))

[1] "Mean: 30"
[1] "Median: 30"
[1] "Sum: 150"
[1] "Standard deviation: 15.8113883008419"

In [4]:
 # Seqeunce Number Checking
print("Sequence from 1 to 89:")
print(seq(1, 89, by = 2))
print("Repeat 2 three times:")
print(rep(2, 13))

[1] "Sequence from 1 to 89:"
 [1]  1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49
[26] 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89
[1] "Repeat 2 three times:"
 [1] 2 2 2 2 2 2 2 2 2 2 2 2 2

In [6]:
# String function
str<-"Learning R is important for data science career."
print(paste("Upper Case :",toupper(str)))
print(paste("Lower Case :",tolower(str)))
print(paste("Number of character :",nchar(str)))

[1] "Upper Case : LEARNING R IS IMPORTANT FOR DATA SCIENCE CAREER."
[1] "Lower Case : learning r is important for data science career."
[1] "Number of character : 48"

In [9]:
# Manipulation on Vector data structure
data <- 1:20
print(data)
new_data<-data+3
print(paste("New Data after added 3 :",new_data))
print(paste("5th element:", data[5]))
print(paste("10th element:", data[10]))
print(paste("Last element:", data[length(data)]))
print(paste("Sum of vector:", sum(data)))
print(paste("Mean of vector:", mean(data)))
print(paste("Length of vector:", length(data)))

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
 [1] "New Data after added 3 : 4"  "New Data after added 3 : 5"
 [3] "New Data after added 3 : 6"  "New Data after added 3 : 7"
 [5] "New Data after added 3 : 8"  "New Data after added 3 : 9"
 [7] "New Data after added 3 : 10" "New Data after added 3 : 11"
 [9] "New Data after added 3 : 12" "New Data after added 3 : 13"
[11] "New Data after added 3 : 14" "New Data after added 3 : 15"
[13] "New Data after added 3 : 16" "New Data after added 3 : 17"
[15] "New Data after added 3 : 18" "New Data after added 3 : 19"
[17] "New Data after added 3 : 20" "New Data after added 3 : 21"
[19] "New Data after added 3 : 22" "New Data after added 3 : 23"
[1] "5th element: 5"
[1] "10th element: 10"
[1] "Last element: 20"
[1] "Sum of vector: 210"
[1] "Mean of vector: 10.5"
[1] "Length of vector: 20"

In [13]:
# Creating a matrix with exactly 9 elements (100:108)
mat <- matrix(100:108, nrow = 3, ncol = 3)

print(paste("Second Row  :", mat[2,], collapse = " "))
print(paste("First column :", mat[,1], collapse = " "))
print(paste("Third Row and Third column :", mat[3, 3]))
print(paste("Sum of all elements :", sum(mat)))

[1] "Second Row  : 101 Second Row  : 104 Second Row  : 107"
[1] "First column : 100 First column : 101 First column : 102"
[1] "Third Row and Third column : 108"
[1] "Sum of all elements : 936"

In [18]:
# List Operation
student_data <- list(
  student_name = c("Simran", "Nazneen", "Riya", "Niraj", "Abrar"),
  student_id = c(1, 2, 3, 4, 5),
  cgpa = c(8.6, 7.6, 6.6, 8.1, 9.8)
)
print(paste("Student Names:", paste(student_data$student_name, collapse = ", ")))
print(paste("Student ID numbers:", paste(student_data$student_id, collapse = ", ")))
print(paste("Marks (CGPA):", paste(student_data$cgpa, collapse = ", ")))

[1] "Student Names: Simran, Nazneen, Riya, Niraj, Abrar"
[1] "Student ID numbers: 1, 2, 3, 4, 5"
[1] "Marks (CGPA): 8.6, 7.6, 6.6, 8.1, 9.8"

In [21]:
student_data <- list(
  student_name = c("Simran", "Nazneen", "Riya", "Niraj", "Abrar"),
  student_id = 1:5,
   Course = c("Data Science", "AI", "Cybersecurity", "AI", "Data Science"),
    Marks = c(85, 92, 78, 88, 95)
)
student_data <- data.frame(student_data)

print("Students in AI course:")
print(student_data[student_data$Course == "AI", ])
print("---------------------------------------------------------")
print("Students with marks greater than 80:")
print(student_data[student_data$Marks > 80, ])
print("---------------------------------------------------------")
student_data$Programming_Language <- c("R", "Python", "Java", "R", "Python")
print("Updated data frame:")
print(student_data)

[1] "Students in AI course:"
  student_name student_id Course Marks
2      Nazneen          2     AI    92
4        Niraj          4     AI    88
[1] "---------------------------------------------------------"
[1] "Students with marks greater than 80:"
  student_name student_id       Course Marks
1       Simran          1 Data Science    85
2      Nazneen          2           AI    92
4        Niraj          4           AI    88
5        Abrar          5 Data Science    95
[1] "---------------------------------------------------------"
[1] "Updated data frame:"
  student_name student_id        Course Marks Programming_Language
1       Simran          1  Data Science    85                    R
2      Nazneen          2            AI    92               Python
3         Riya          3 Cybersecurity    78                 Java
4        Niraj          4            AI    88                    R
5        Abrar          5  Data Science    95               Python

In [22]:
# logorithm and Expotential
values <- c(1, 2, 3)
natural_log <- log(values)
exponential <- exp(values)

print(paste("Natural logarithm:", paste(natural_log, collapse = ", ")))
print(paste("Exponential:", paste(exponential, collapse = ", ")))

[1] "Natural logarithm: 0, 0.693147180559945, 1.09861228866811"
[1] "Exponential: 2.71828182845905, 7.38905609893065, 20.0855369231877"

In [23]:
# Angles Programs
angles <- c(15, 45, 90)
angles_rad <- angles * pi / 180

sine_values <- sin(angles_rad)
cosine_values <- cos(angles_rad)
tangent_values <- tan(angles_rad)

print(paste("Sine values:", paste(sine_values, collapse = ", ")))
print(paste("Cosine values:", paste(cosine_values, collapse = ", ")))
print(paste("Tangent values:", paste(tangent_values, collapse = ", ")))

[1] "Sine values: 0.258819045102521, 0.707106781186547, 1"
[1] "Cosine values: 0.965925826289068, 0.707106781186548, 6.12323399573677e-17"
[1] "Tangent values: 0.267949192431123, 1, 16331239353195370"

In [24]:
# Basic Statistical Functions
vector <- c(5, 10, 15, 20, 25)

# Length and sum
vector_length <- length(vector)
vector_sum <- sum(vector)

# Sequence and repetition
seq_values <- seq(1, 10, by = 2)
rep_values <- rep("R Programming", 3)

print(paste("Length of vector:", vector_length))
print(paste("Sum of vector:", vector_sum))
print(paste("Sequence:", paste(seq_values, collapse = ", ")))
print(paste("Repetition:", paste(rep_values, collapse = ", ")))

[1] "Length of vector: 5"
[1] "Sum of vector: 75"
[1] "Sequence: 1, 3, 5, 7, 9"
[1] "Repetition: R Programming, R Programming, R Programming"

In [25]:
# Practice
data <- seq(10, 100, by = 10)
print(paste("Sequence from 10 to 100:", paste(data, collapse = ", ")))

str <- rep("R Programming", 5)
print(paste("Repeated string:", paste(str, collapse = ", ")))

[1] "Sequence from 10 to 100: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100"
[1] "Repeated string: R Programming, R Programming, R Programming, R Programming, R Programming"