<a href="https://colab.research.google.com/github/SimranShaikh20/R_language_Assignments/blob/main/Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# To perform and print addition, subtraction, division and multiplication of two numbers.

In [1]:
# Take input from the user
num1 <- as.numeric(readline(prompt = "Enter the first number (num1): "))
num2 <- as.numeric(readline(prompt = "Enter the second number (num2): "))

# Display operation choices
print("1] Addition")
print("2] Subtraction")
print("3] Multiplication")
print("4] Division")

# Take the user's choice for the operation
choice <- as.numeric(readline(prompt = "Enter which operation you want to perform: "))

# Perform the chosen arithmetic operation
if (choice == 1) {
  add <- num1 + num2
  print(paste("Addition: ", add))
} else if (choice == 2) {
  subtract <- num1 - num2
  print(paste("Subtraction: ", subtract))
} else if (choice == 3) {
  multiply <- num1 * num2
  print(paste("Multiplication: ", multiply))
} else if (choice == 4) {
    divide <- num1 / num2
    print(paste("Division: ", divide))
} else {
  print("Invalid choice! Please enter a valid operation number (1-4).")
}

Enter the first number (num1): 12
Enter the second number (num2): 21
[1] "1] Addition"
[1] "2] Subtraction"
[1] "3] Multiplication"
[1] "4] Division"
Enter which operation you want to perform: 3
[1] "Multiplication:  252"

# To enter the temperature in Celsius and convert it to Fahrenheit and vice versa.

In [4]:
celsius_to_fahrenheit <- function(c) {
  return((c * 9/5) + 32)
}

fahrenheit_to_celsius <- function(f) {
  return((f - 32) * 5/9)
}

celsius <- as.numeric(readline(prompt = "Enter Celsius: "))
fahrenheit <- celsius_to_fahrenheit(celsius)
cat(celsius, "Celsius =", fahrenheit, "Fahrenheit\n")
fahrenheit <- as.numeric(readline(prompt = "Enter Frehenhit : "))
celsius <- fahrenheit_to_celsius(fahrenheit)
cat(fahrenheit, "Fahrenheit =", celsius, "Celsius\n")

Enter Celsius: 25
25 Celsius = 77 Fahrenheit
Enter Frehenhit : 77
77 Fahrenheit = 25 Celsius


# To enter the amount in rupees and convert it to dollar and vice versa.

In [5]:
rupees_to_dollars <- function(inr) {
  return(inr / 83)
}
dollars_to_rupees <- function(usd) {
  return(usd * 83)
}

rupees <- as.numeric(readline(prompt = "Enter Rupees : "))
dollars <- rupees_to_dollars(rupees)
cat(rupees, "Rupees =", dollars, "Dollars\n")

dollars <-  as.numeric(readline(prompt = "Enter Dollers : "))
rupees <- dollars_to_rupees(dollars)
cat(dollars, "Dollars =", rupees, "Rupees\n")

Enter Rupees : 200
200 Rupees = 2.409639 Dollars
Enter Dollers : 70
70 Dollars = 5810 Rupees

# To swap the values of two variables with using third variable.

In [6]:
x <- as.numeric(readline(prompt = "Enter value for x : "))
y <- as.numeric(readline(prompt = "Enter value for y  : "))
temp <- x
x <- y
y <- temp
cat("After swapping using third variable: x =", x, "y =", y, "\n")

Enter value for x : 12
Enter value for y  : 21
After swapping using third variable: x = 21 y = 12

# To swap the values of two variables without using third variable.

In [8]:
x <- as.numeric(readline(prompt = "Enter value for x : "))
y <- as.numeric(readline(prompt = "Enter value for y  : "))

x <- bitwXor(x, y)
y <- bitwXor(y, x)
x <- bitwXor(x, y)

cat("After swapping without using third variable: x =", x, "y =", y, "\n")

Enter value for x : 12
Enter value for y  : 28
After swapping without using third variable: x = 28 y = 12

# To calculate and display the volume of a CUBE having its height (h=10cm), width (w=12cm) and depth (8cm).

In [9]:
h <- as.numeric(readline(prompt = "Enter height : "))
w <- as.numeric(readline(prompt = "Enter width: "))
d <- as.numeric(readline(prompt = "Enter depth : "))
volume <- h * w * d
cat("Volume of the cube:", volume, "cubic cm\n")

Enter height : 2
Enter width: 1
Enter depth : 4
Volume of the cube: 8 cubic cm

In [13]:
simple_interest <- function(price, rate, time) {
  return((price * rate * time) / 100)
}

price <- as.numeric(readline(prompt = "Enter  Principal amount : "))
rate <- as.numeric(readline(prompt = "Enter Rate of interest per annum  : "))
time <- as.numeric(readline(prompt = "Enter Time period : "))
SI <- simple_interest(price, rate, time)
cat("Simple Interest:", SI, "\n")

Enter  Principal amount : 10000
Enter Rate of interest per annum  : 12
Enter Time period : 24
Simple Interest: 28800